<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e2edacd-fac9-4541-8042-1c1abb312487" Alias="Budget Planning for Buccura Inc." Level="3">
  <Info>
    <Parent Key="43542976-bcb2-4c75-aa94-04663812791c">Projects</Parent>
    <Path>/OnatrixHome/Projects/BudgetPlanningForBuccuraInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-28T08:30:24</CreateDate>
    <NodeName Default="Budget Planning for Buccura Inc." />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="48a600b9-1e45-4e96-8f1c-eec4eec43694">projectItemTemplate</Template>
  </Info>
  <Properties>
    <dateCreated>
      <Value><![CDATA[2024-01-03T00:00:00]]></Value>
    </dateCreated>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <tags>
      <Value><![CDATA[[
  "Cookies"
]]]></Value>
    </tags>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "3992d450-fdb4-42e1-a44a-7b00e7554858",
    "mediaKey": "d8d94b29-e74f-417b-baf5-c18813d66930",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>