<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c18726c-fad2-46fb-b991-2c417e18a0fe" Alias="Business Insights for SP Group..." Level="3">
  <Info>
    <Parent Key="43542976-bcb2-4c75-aa94-04663812791c">Projects</Parent>
    <Path>/OnatrixHome/Projects/BusinessInsightsForSPGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-28T08:27:19</CreateDate>
    <NodeName Default="Business Insights for SP Group..." />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="48a600b9-1e45-4e96-8f1c-eec4eec43694">projectItemTemplate</Template>
  </Info>
  <Properties>
    <dateCreated>
      <Value><![CDATA[2024-05-17T00:00:00]]></Value>
    </dateCreated>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <tags>
      <Value><![CDATA[[
  "Business",
  "Insights",
  "App"
]]]></Value>
    </tags>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "68d2c94f-bf11-4902-8618-21c7914cb46b",
    "mediaKey": "7bc49e16-3481-4ad2-95b8-582056824904",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>