<?xml version="1.0" encoding="utf-8"?>
<Content Key="d56fa485-481e-493c-a4c5-8b4a550d793e" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d9d73a7f-072d-4f7b-9f4d-395aa425d28f">Onatrix Home</Parent>
    <Path>/OnatrixHome/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-24T10:45:55</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6c8b9cbd-f9fd-4905-9a2c-3b9a3deb8b5f">contactPage</Template>
  </Info>
  <Properties>
    <fossilgroup>
      <Value><![CDATA[[
  {
    "key": "519d26cc-5394-4318-9037-66bf1f803ba8",
    "mediaKey": "5985704a-bb84-432a-a533-7244f7f7c913",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </fossilgroup>
    <freedombird>
      <Value><![CDATA[[
  {
    "key": "b118dc39-ce8a-4fce-8f71-5707dc6c0040",
    "mediaKey": "80ee2e50-2312-4abd-b754-4bdd59825c71",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </freedombird>
    <globe>
      <Value><![CDATA[[
  {
    "key": "148c3872-5285-46ef-87d1-682282d4a949",
    "mediaKey": "d72671cb-637d-4e2d-a75a-13dd801b93f4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </globe>
    <identity>
      <Value><![CDATA[[
  {
    "key": "03c325da-63c5-45b3-9dc9-89ec9e1a1673",
    "mediaKey": "a4b0d1b1-5352-47db-91d0-6fd9a1d55214",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </identity>
    <natural>
      <Value><![CDATA[[
  {
    "key": "e2feabd9-5f88-45ef-be1e-c41fa1db19ae",
    "mediaKey": "27f63fae-5c70-4592-8672-ab76ee886ee2",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </natural>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <simpleaf>
      <Value><![CDATA[[
  {
    "key": "5cd90cd1-fe53-46ad-8872-fca4dd01eb1e",
    "mediaKey": "560b43e2-335b-413d-8bf0-56fa375950da",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </simpleaf>
  </Properties>
</Content>