<?xml version="1.0" encoding="utf-8"?>
<Content Key="43542976-bcb2-4c75-aa94-04663812791c" Alias="Projects" Level="2">
  <Info>
    <Parent Key="d9d73a7f-072d-4f7b-9f4d-395aa425d28f">Onatrix Home</Parent>
    <Path>/OnatrixHome/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsListPage</ContentType>
    <CreateDate>2024-09-27T08:26:36</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2e516c72-5e30-47f2-85cf-ba11e6395bd2">projectsListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>