<?xml version="1.0" encoding="utf-8"?>
<Content Key="24fceb2e-a6f3-4a49-8468-9e6196e0e6fc" Alias="Services" Level="2">
  <Info>
    <Parent Key="d9d73a7f-072d-4f7b-9f4d-395aa425d28f">Onatrix Home</Parent>
    <Path>/OnatrixHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-19T13:31:27</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c7ecd369-4178-4665-a6ff-1c9e5a1936ee">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>