<?xml version="1.0" encoding="utf-8"?>
<Content Key="b33951fe-dfd2-4d6a-8d65-2c4a0ce85c36" Alias="Settings Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SettingsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-12T08:45:49</CreateDate>
    <NodeName Default="Settings Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aboutUsImage>
      <Value><![CDATA[[
  {
    "key": "11804b01-c1ed-4a3c-b00e-52930bd6ca26",
    "mediaKey": "3d65bdae-c553-4667-9234-830942244f92",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsImage>
    <breadcrumbBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "9dfe2d74-39b7-41f9-b78b-836304bd0ca4",
    "mediaKey": "4f73bb23-d246-4abe-b155-1a3246a0a929",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </breadcrumbBackgroundImage>
    <contactBackground>
      <Value><![CDATA[[
  {
    "key": "c29e93d4-9756-4578-b45f-c4acff113ec5",
    "mediaKey": "09ef853c-879b-442e-9ee5-e52a01bf338d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackground>
    <helpFormBg>
      <Value><![CDATA[[
  {
    "key": "5b1f4b88-fe0f-4048-9b0c-cc1caf4e387b",
    "mediaKey": "d8a38c08-dfce-44f1-bdc0-a31692ece7ae",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </helpFormBg>
    <letUsKnow>
      <Value><![CDATA[]]></Value>
    </letUsKnow>
    <letUsKnowImage>
      <Value><![CDATA[[
  {
    "key": "ce793815-586b-4742-a521-085845269108",
    "mediaKey": "1adc34f2-b5fb-44f3-96a5-6afa692c4341",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </letUsKnowImage>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 11164 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhoneNumber>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "3840d63c-cc56-426f-9dcc-b33647b8de4f",
    "mediaKey": "a7d3c924-1ff6-4a36-b8df-53847ac4bfd8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions for Your Business]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f7475126-ff3c-40f6-a044-e2f22dd2dad5",
      "udi": "umb://element/b4483750ed6a4c9b8bd26dff00c20e6e",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "f7475126-ff3c-40f6-a044-e2f22dd2dad5",
      "udi": "umb://element/6ebcbe82ead8497494e8cf55f3aba661",
      "platformName": "[\u0022Linkedin\u0022]",
      "platformAccountUrl": "https://linkedin.com/onatrix"
    },
    {
      "contentTypeKey": "f7475126-ff3c-40f6-a044-e2f22dd2dad5",
      "udi": "umb://element/a598d629a3ab491997c86b8bf8888abf",
      "platformName": "[\u0022X (formerly Twitter)\u0022]",
      "platformAccountUrl": "https://x.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b4483750ed6a4c9b8bd26dff00c20e6e",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/6ebcbe82ead8497494e8cf55f3aba661",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/a598d629a3ab491997c86b8bf8888abf",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>