<?xml version="1.0" encoding="utf-8"?>
<Content Key="91bf67c2-acb1-4704-94fa-be53fa7a6fc3" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="24fceb2e-a6f3-4a49-8468-9e6196e0e6fc">Services</Parent>
    <Path>/OnatrixHome/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-19T15:26:32</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="11e33be4-16eb-4abd-b690-4d999b2973c3">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "d77b1155-339f-4878-ab55-1375ffce17ac",
    "mediaKey": "5c7e83c8-945d-4f6c-8002-7c14c1d09ba4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>