<?xml version="1.0" encoding="utf-8"?>
<Content Key="7cf3a269-bf91-40e4-8896-0986192ea0e6" Alias="This is here for pagnation reasons" Level="3">
  <Info>
    <Parent Key="43542976-bcb2-4c75-aa94-04663812791c">Projects</Parent>
    <Path>/OnatrixHome/Projects/ThisIsHereForPagnationReasons</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-28T08:31:19</CreateDate>
    <NodeName Default="This is here for pagnation reasons" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="48a600b9-1e45-4e96-8f1c-eec4eec43694">projectItemTemplate</Template>
  </Info>
  <Properties>
    <dateCreated>
      <Value><![CDATA[2022-10-20T00:00:00]]></Value>
    </dateCreated>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[This is here for pagnation reasons]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <tags>
      <Value><![CDATA[[
  "Testing"
]]]></Value>
    </tags>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "05ea51e9-bfac-4125-8b56-afa15fcbf545",
    "mediaKey": "00dd7a1b-5afc-4abd-a627-32b075f1a8c6",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>