<form novalidate id="home-form">
    <div class="bg-primary">
        <h4 class="accent">Request a call back</h4>
    </div>
    <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat</p>
    <input type="text" placeholder="Name" />
    <input type="email" placeholder="Email address" />
    <input type="tel" placeholder="Phone" />
    <select id="cars" name="cars">
        <option value="financial-consulting">Financial Consulting</option>
        <option value="tax">tax</option>
        <option value="none">none</option>
    </select>
    <button bg-accent>Submit</button>
</form>