#breadcrumb-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .breadcrumb {
        display: flex;
        list-style-type: none;
        li {
            position: relative;
            padding-left: .6rem;
            text-decoration: none;

            :after {
                content: " >";

            }
        }
    }
}
