.container, .dynamic-container {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    @include tablet {
        max-width: 720px;
    }

    @include desktop {
        max-width: 1200px;
    }
}
