<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b8f9b1e-74ea-4a84-98ff-206cedda3b38" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "da99307a-7cf3-4cb3-89db-ca40bf7ea883",
      "name": "Containers"
    },
    {
      "key": "3617492a-2b46-4ecb-8420-ef6eb7372a88",
      "name": ""
    },
    {
      "key": "3b3e9136-cef3-477f-a863-f6b142acb4f2",
      "name": "Components"
    },
    {
      "key": "7ba989d9-72e1-4e15-ba12-94371261141e",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "b9d4f283-4adf-4324-81e4-1e6f6918da77",
      "allowAtRoot": true,
      "label": "Section - **={sectionTitle}**",
      "areas": [
        {
          "key": "32b9d5fb-f945-4243-9c4c-765a6b00fc14",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [],
      "groupKey": "da99307a-7cf3-4cb3-89db-ca40bf7ea883"
    },
    {
      "contentElementTypeKey": "ea5c9a63-b604-42ee-9607-e5a57347ee45",
      "allowAtRoot": false,
      "groupKey": "da99307a-7cf3-4cb3-89db-ca40bf7ea883",
      "label": "Container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "b5a827ee-af8e-4b4d-a9c2-8a1291bd7c5e",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "5d89089f-c84e-4f23-8f85-64a5ac819211",
      "allowAtRoot": false,
      "groupKey": "da99307a-7cf3-4cb3-89db-ca40bf7ea883",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "10d41fb8-7e3d-4941-937a-f9fa0ee87f21",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "e40f9dc6-f8cf-4062-b31d-ee804bda657c",
      "allowAtRoot": false,
      "groupKey": "7ba989d9-72e1-4e15-ba12-94371261141e",
      "label": "heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "4a06d1fe-458d-4460-9b4d-57bb258fa92b",
      "allowAtRoot": false,
      "groupKey": "7ba989d9-72e1-4e15-ba12-94371261141e",
      "label": "heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9fc7f585-b118-44be-9cd6-90861c2339ae",
      "allowAtRoot": false,
      "groupKey": "7ba989d9-72e1-4e15-ba12-94371261141e",
      "label": "heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2ea11fc0-2b84-4019-8da3-8e0da99b5afb",
      "allowAtRoot": false,
      "groupKey": "7ba989d9-72e1-4e15-ba12-94371261141e",
      "label": "heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "09cff5b6-d584-44b2-8d5d-52af644bb6f5",
      "allowAtRoot": false,
      "groupKey": "7ba989d9-72e1-4e15-ba12-94371261141e",
      "label": "heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "c6734618-acfc-434f-8de5-3eba7b996cf3",
      "allowAtRoot": false,
      "groupKey": "7ba989d9-72e1-4e15-ba12-94371261141e",
      "label": "button link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "80d28f10-7651-4349-bbf3-b6fedc12b66c",
      "allowAtRoot": false,
      "groupKey": "7ba989d9-72e1-4e15-ba12-94371261141e",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f64370d0-79b3-45e0-a50b-33f7d3934cb5",
      "allowAtRoot": false,
      "groupKey": "7ba989d9-72e1-4e15-ba12-94371261141e",
      "label": "image html element",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "956d70eb-5982-4e5b-9395-efae1e4cd324",
      "allowAtRoot": false,
      "groupKey": "7ba989d9-72e1-4e15-ba12-94371261141e",
      "label": "link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "0236e542-e4db-4dca-b9a2-0264c0389e38",
      "allowAtRoot": false,
      "groupKey": "7ba989d9-72e1-4e15-ba12-94371261141e",
      "label": "paragraph",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "67ba66a9-6233-457a-a592-054770175faa",
      "allowAtRoot": false,
      "groupKey": "7ba989d9-72e1-4e15-ba12-94371261141e",
      "label": "rich text",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6d7e8671-65d8-4d06-a9fb-947fa50590e5",
      "allowAtRoot": false,
      "groupKey": "7ba989d9-72e1-4e15-ba12-94371261141e",
      "label": "block quote",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "7b615689-7f76-4f4f-afa8-ec727bb32e6d",
      "allowAtRoot": false,
      "groupKey": "3b3e9136-cef3-477f-a863-f6b142acb4f2",
      "label": "image slider",
      "allowInAreas": true,
      "columnSpanOptions": []
    },
    {
      "contentElementTypeKey": "42d8ad32-467a-4031-b8d1-f02c52559770",
      "allowAtRoot": false,
      "groupKey": "3b3e9136-cef3-477f-a863-f6b142acb4f2",
      "label": "ServicesElement",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2c3cb94a-a62f-4cec-8947-0d288e607227",
      "allowAtRoot": true,
      "groupKey": "3b3e9136-cef3-477f-a863-f6b142acb4f2",
      "allowInAreas": false
    },
    {
      "contentElementTypeKey": "95f36c17-df4a-4cec-ae97-7a9a2de5aa99",
      "allowAtRoot": true,
      "groupKey": "da99307a-7cf3-4cb3-89db-ca40bf7ea883",
      "label": "Recent projects",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "8b2b7659-e7e4-446f-abce-004de01d0e04",
      "allowAtRoot": true,
      "groupKey": "3b3e9136-cef3-477f-a863-f6b142acb4f2"
    },
    {
      "contentElementTypeKey": "118b3ef4-ddab-44eb-9705-a00adb532daf",
      "allowAtRoot": false,
      "groupKey": "3b3e9136-cef3-477f-a863-f6b142acb4f2",
      "label": "Home page form",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>