<?xml version="1.0" encoding="utf-8"?>
<DataType Key="35b7a92a-493c-4834-9cb8-18737635781a" Alias="Project Item Template -  - Tags Property Editor UI" Level="1">
  <Info>
    <Name>Project Item Template -  - Tags Property Editor UI</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tags</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "group": "default",
  "storageType": "Json"
}]]></Config>
</DataType>