<?xml version="1.0" encoding="utf-8"?>
<DataType Key="35c4daef-66cd-424a-a0ea-d92376f6bcd8" Alias="Social Media Dropdown List" Level="1">
  <Info>
    <Name>Social Media Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "Linkedin",
    "TokTok",
    "X (formerly Twitter)",
    "YouTube"
  ]
}]]></Config>
</DataType>