<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="10421e5c-628f-46d0-af2f-9d5cabde7e12" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>modularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="404c5913-1204-4ced-91b0-faa72ddacdab">modularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="10421e5c-628f-46d0-af2f-9d5cabde7e12" SortOrder="0">modularPage</ContentType>
    <ContentType Key="be1f9405-73fb-42c7-b77f-df05ed65c732" SortOrder="1">serviceListPage</ContentType>
    <ContentType Key="7c792f4d-7e2f-482b-930e-c3fb0f44e16a" SortOrder="2">contactPage</ContentType>
    <ContentType Key="41e08448-b472-4e80-b62b-00109ff709f3" SortOrder="3">projectsListPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c44c36fe-486b-4af9-8105-2b1bf6fdb2de</Key>
      <Name>Extra Section</Name>
      <Alias>extraSection</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/pageLayout">Page Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4c5859f5-9772-4ce1-823d-82b65a51fe6e</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>7b8f9b1e-74ea-4a84-98ff-206cedda3b38</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/pageLayout">Page Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>305e5eaf-fb4e-4d7a-995c-8738bcd67b3d</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>196ab612-4118-4a3a-b156-3e8bad1a62e0</Key>
      <Caption>Page Layout</Caption>
      <Alias>content/pageLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f7b736b2-d963-4658-968e-c8c6f2cb7537</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>