<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f73bb23-d246-4abe-b155-1a3246a0a929" Alias="breadcrumbbg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/breadcrumbbg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T09:29:19</CreateDate>
    <NodeName Default="breadcrumbbg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/vrydl4jp/breadcrumbbg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>