<?xml version="1.0" encoding="utf-8"?>
<Media Key="68b1e13c-92b9-4364-9782-6931e8870523" Alias="Dot map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T08:42:10</CreateDate>
    <NodeName Default="Dot map.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zzobhcvc/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>