<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8a38c08-dfce-44f1-bdc0-a31692ece7ae" Alias="Icon.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Iconpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T10:03:12</CreateDate>
    <NodeName Default="Icon.png" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/q3dok1vh/icon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>