<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d65bdae-c553-4667-9234-830942244f92" Alias="image-24-min 2.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image24Min2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-19T17:15:41</CreateDate>
    <NodeName Default="image-24-min 2.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ef1dhcz0/image-24-min-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>