<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a91090e-ccea-4f5b-9e5f-48aca6fb1642" Alias="image-13-min 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image13Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-19T15:25:52</CreateDate>
    <NodeName Default="image-13-min 1.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qhbnpled/image-13-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>