<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1df6d5e-7cb5-4bb5-92cf-cb0bfb673ba3" Alias="Img-1 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img11png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T08:23:56</CreateDate>
    <NodeName Default="Img-1 1.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0gtjsb42/img-1-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>