<?xml version="1.0" encoding="utf-8"?>
<Media Key="a421dafc-39f5-4005-8dc9-b7ba497c2d12" Alias="img_choose_01_home01 2.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img_choose_01_home012png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T17:27:24</CreateDate>
    <NodeName Default="img_choose_01_home01 2.png" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/omigoeu2/img_choose_01_home01-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>