<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b7b2d20-3038-487d-a823-46a3eb8b7146" Alias="kevin-gardner.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T19:02:02</CreateDate>
    <NodeName Default="kevin-gardner.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/v5td1hkr/kevin-gardner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>