<?xml version="1.0" encoding="utf-8"?>
<Media Key="09ef853c-879b-442e-9ee5-e52a01bf338d" Alias="map 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T10:03:07</CreateDate>
    <NodeName Default="map 1.png" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wnhltp5s/map-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>