<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7d3c924-1ff6-4a36-b8df-53847ac4bfd8" Alias="onatrixsvg.svg" Level="2">
  <Info>
    <Parent Key="2d1a939a-5f3b-43a1-b4f2-f02910cf75ee">Images</Parent>
    <Path>/Images/onatrixsvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T12:39:06</CreateDate>
    <NodeName Default="onatrixsvg.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0z0hcrpn/onatrixsvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>