<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e30414b-22a6-476a-8482-a7cba72690a3" Alias="Partners" Level="2">
  <Info>
    <Parent Key="2d1a939a-5f3b-43a1-b4f2-f02910cf75ee">Images</Parent>
    <Path>/Images/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-16T09:59:51</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>