<?xml version="1.0" encoding="utf-8"?>
<Media Key="f05e806d-31c0-4cf5-a648-59557e876e42" Alias="tinafox.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tinafoxpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T15:37:17</CreateDate>
    <NodeName Default="tinafox.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2jfbqrvj/tinafox.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>