<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a8b3824-87fa-43b7-9335-b07de9ff43ac" Alias="Tina Fox signature" Level="2">
  <Info>
    <Parent Key="2d1a939a-5f3b-43a1-b4f2-f02910cf75ee">Images</Parent>
    <Path>/Images/TinaFoxSignature</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T11:49:43</CreateDate>
    <NodeName Default="Tina Fox signature" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/vpzm1det/onlinesignaturesnet-302-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>