<footer class="bg-dark">
    <div class="container" style="padding-bottom: .5rem; padding-top: .5rem;">
        <p>© Onatrix. All Rights Reserved. Credits to <span style="color: #D9C3A9;">Themesflat</span></p>
    </div>
</footer>