@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var selection = Umbraco.Content(Guid.Parse("43542976-bcb2-4c75-aa94-04663812791c"))
        .ChildrenOfType("projectItemTemplate")
        .Where(x => x.IsVisible());

    var allTags = new HashSet<string>();

    foreach (var item in selection) {
        var tags = item.Value<string[]>("tags");

        if (tags != null) {
            foreach (var tag in tags) {
                allTags.Add(tag);
            }
        }
    }

    var sortedTags = allTags.OrderBy(tag => tag);
}

<div class="project-tags">
    <h4>Tags</h4>
    <ul class="tags-container">
        @foreach (var tag in sortedTags)
        {
            <li class="tag">@tag</li>
        }
    </ul>
</div>